/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________*/
/*__________*/
/*__________*/

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(Images/chocolate_background_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    font-family: 'Ropa Sans', sans-serif;
    background-attachment:fixed;
    display:flex;
    flex-direction: column;
}


/* Nav bar styles */
.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
}

.mainNav ul {
    display: flex;
}

.navItem {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 25px;
}

.navItem:hover {
    transition: 0.2s;
    color: #F2CB30;
}

.navLogo {
    width: 8%;
    height: auto;
    padding: 0.4%;
    margin-left: 20px;
}

/* Main content styles */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeHeadingItem {
    flex-basis: 50%;
    margin: 20px;
}

.mainHeadingText {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 7vw;
    text-align: right;
}

.interestForm {
    background-color: #ffffff;
    max-width: 350px;
    min-width: 260px;
    border-radius: 30px;
    height: 450px;
}

.formHeader {
    font-size: 3vh;
    width: 90%;
    text-align: center;
}

.formHeader:nth-of-type(2){
    margin-bottom: 20px;
}

.interestForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.interestForm form input {
    font-weight: bold;
    width: 220px;
    margin: 0 35px 20px ;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #7c8797;
    font-size: 14px;
}

.formButton {
    font-weight: bold;
    width: 250px;
    margin: 0 35px 20px;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #c4626c;
    color: white;
    font-size: 14px;
}

.formButton:hover {
    cursor: pointer;
    background: #db7b85;
}

.formButton:active {
    transform: translateY(1px);
}


@media (max-width: 768px) {
    .navLogo {
        width: 12%;
        height: auto;
        padding: 0.4%;
        margin-left: 20px;
    }
    
    .mainNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3vh;
    }

    .homeHeading {
        display: flex;
        flex-direction: column;
    }

    .homeHeadingItem {
        flex-basis: 50%;
        margin: 5px;
    }

    .mainHeadingText {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 9vw;
        text-align: center;
    }

    .interestForm {
        background-color: #ffffff;
        max-width: 350px;
        min-width: 260px;
        border-radius: 30px;
        height: 450px;
    }

    .formHeader {
        font-size: 2.5vh;
        width: 90%;
        text-align: center;
        margin: 15px 0px;
    }

}